*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
/* Navigation Bar */
.logo{
    color: white;
    text-transform: lowercase;
    letter-spacing: 5px;
    font-size: 25px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #54A75B;
    font-family: 'Quicksand', sans-serif;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
    list-style-type: none;
}
.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    background-color: white;
    width: 25px;
    height: 3px;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    } 
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
         position: absolute;
         right: 0px;
         height: 92vh;
         top: 8vh; 
         background-color: #54A75B;
         display: flex;
         flex-direction: column;
         align-items: center;
         width: 50%;
         transform: translateX(100%);
         transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block; 
    }

}
.nav-active{
    transform: translateX(0%);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
} 
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

/* Image Carousel */
    .carousel-container{
        width: fit-content;
        margin: auto;
        overflow: hidden;
        padding-top: 10px;
    }
    .carousel-slide{
        display: flex;
        height: 500px;
    }
    #prevBtn{
        position: absolute;
        top: 50%;
        z-index: 10;
        left: 5%;
        font-size: 30px;
        color: white;
        opacity: 1;
        cursor: pointer;
    }
    #nextBtn{
        position: absolute;
        top: 50%;
        z-index: 10;
        right: 5%;
        font-size: 30px;
        color: white;
        opacity: 1;
        cursor: pointer;
    }
/*Welcome Message*/
    .welcome-box{
        -webkit-box-flex: 0;
        flex: 0 0 100%;
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 100%;
        max-width: 100%;
    }
    .welcome-text{
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .welcome-shop-button{
        padding: 0.2cm;
        display: inline-block;
        align-content: center;
        background-color: #54A75B;
        cursor: pointer;
        text-decoration: none;
        color: white;
        line-height: 2;

    }
/*Featured Plant*/
    .featured-plant{
        border: 0;
        margin: 0;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
    .featured-plant-text{
        display: flex;
        float: left;
        display: inline-block;
        padding-top: 5cm;
        margin-bottom: 0.5cm;
        margin-left: 1cm;
    }
    .featured-plant-header{
        margin-bottom: 0.5cm;
    }
    .featured-plant-image{
        float: right;
        padding-top: 150px;
        padding-left: 0.5cm;
    }
    .featured-button{
        padding: 0.2cm;
        display: inline-block;
        vertical-align: middle;
        background-color: #54A75B;
        cursor: pointer;
        text-decoration: none;
        color: white;
        line-height: 2;
        font-weight: bolder;
    }
/* Who are we? */
    .who-are-we{
        border: 0;
        margin: 0;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
        justify-content: center;
        padding: 2.5cm;
        background-color: #54A75B;
    }
    .who-text{
        justify-content: center;
        text-align: center;
        color: white;
    }
    .who-header{
        margin-bottom: 0.5cm;
        font-size: 1.2cm;
    }
    .who-main-text{
        margin-bottom: 0.5cm;
        font-size: larger;
    }
    .who-button{
        padding: 0.2cm;
        display: inline-block;
        vertical-align: middle;
        background-color: white;
        cursor: pointer;
        text-decoration: none;
        color: #54A75B;
        line-height: 2;
    }
/* Did You Know? */
    .did-container{
        width: 100%;
        background-image: url(./background.jpeg);
        height: 300px;
        opacity: 20;
    }
    .did-container h1{
        color: white;
        font-size: 1.2cm;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .did-container p{
        color: white;
        text-align: center;
        margin-left: 300px;
        margin-right: 300px;
        font-size: large;
        font-weight: bold;
    }
.madeBy {
    background-color: #54A75B;
    color: white;
    text-align: center;
    padding-top: 0.5cm;
    padding-bottom: 0.2cm;
    }
.foot-navbar{
    background-color: #54A75B;
    overflow: hidden;
    bottom: 0;
    width: 100%;
}
.foot-navbar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.navbar a.active {
    background-color: #4CAF50;
    color: white;
}
  
