*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #54A75B;
    font-family: 'Quicksand', sans-serif;
}
.logo{
    color: white;
    text-transform: lowercase;
    letter-spacing: 5px;
    font-size: 25px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
    list-style-type: none;
}
.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
}